<h1>Editando certificado do aluno externo</h1>

<%= render 'form', student: @student %>

<%= link_to t("app.show"), @student , class: "btn btn-success" %> |
<%= link_to t("app.messages.back"), students_path, class: "btn btn-success"  %>
