<div class="inicio"> <h1> Bem-Vindo(a) ao SiN - CERTIFIQUE-SE</h1> </div>

<div class="panel panel-default">
  <br>
  <br>
  <div class="panel-heading">
</div>
</div>


<select name="forma" onchange="location = this.value">
  <option value="" selected>Escolha a unidade</option>
  <option value="agreements#index">Fórum Clóvis Beviláqua</option>
  <option value="certificates#index">Tribunal de Justiça</option>
  <option value="students#index">Alunos Externos</option>
</select>
