<h1><%= t("app.edit_agreement")%></h1>

<%= render 'form', agreement: @agreement %>
<hr>
<%= link_to t("app.show"), @agreement , class: "btn btn-success" %> |
<%= link_to t("app.messages.back"), agreements_path, class: "btn btn-success"  %>
</hr>
