body {

  
  background: linear-gradient(#9dcbc1,#e6f2f0 40%, #FFFFFF);
 	background-repeat: no-repeat;


 }

 #logo{
     position: absolute;
     top: 45%;
     left: 45%;
     right: 45%;
     bottom: 50%;
     opacity: 0.2;
 }
