<div class="row fixed-bottom footer pl-2 pr-2 no-gutters justify-content-between">
    <span>Sala de Inovação | GINF - Gerência de Informática | Fórum Clóvis Bevilaqua</span>
    <span>Versão 1.0</span>
</div>
