<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>O seu Certificado está pronto!</h1>
    <p>Olá @username, seu certificado foi gerado com sucesso e encontra-se no link abaixo.</p>
    <p>Acesse este link para baixar ou imprimir o seu certificado: <%= @agreement.inspect%>
  </body>
</html>
